.popup-photo__close {
    background-image: url("../../../images/close_icon.svg");
    min-width: 58px;
    min-height: 58px;
    padding: 0;
    background-size: 100%;
    position: absolute;
    right: -50px;
    top: -50px;
    border: none;
    outline: none;
    margin: 0;
    z-index: 100;
    background-color: transparent;
    transition:  opacity 0.3s ease, color 0.2s;
    -webkit-transition: opacity 0.3s ease, color 0.2s;
}

.popup-photo__close:hover {
    opacity: .6;
    cursor: pointer;
}